/* Overide Bootstrap CSS */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-family: "Work Sans", sans-serif !important;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
}
p {
  margin-bottom: 27px;
}
h1 {
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 27px;
}
h2 {
  font-size: 13px;
  margin-bottom: 27px;
  font-weight: 400;
}
a {
  color: #339f61;
}
a:hover {
  color: #2d8b56;
}
.btn-success {
  background-color: #46c37c !important;
  transition-property: background-color;
  transition-duration: 0.2s;
  font-weight: 700;
  font-size: 18px;
  border: none !important;
}
.btn-success:hover {
  background-color: #3cb972 !important;
  border: none;
}
/* Main CSS */
.navigation__link {
  color: #ffffff;
  font-size: 14px;
  position: absolute;
  top: 36px;
  right: 36px;
}
.navigation__link:hover {
  color: #ffffff;
  text-decoration: none;
}
.book__hero {
  width: 100%;
  background-image: linear-gradient(0deg, #2b8551, #339f61);
  padding-top: 4em;
  padding-bottom: 2em;
}
.book__hero__image,
.book__summary__image {
  max-width: 100%;
  padding-bottom: 2em;
}
.book__hero--white {
  color: #ffffff;
}
.book__hero__masthead {
  text-transform: uppercase;
  font-size: 13px;
}
.book__hero__title,
.book__summary__title,
.book__praises__title,
.view__more__title {
  font-weight: 700;
  font-size: 36px;
}
.book__hero__description,
.book__summary__copy,
.book__praises__copy {
  font-size: 16px;
}
.book__btn-group {
  padding-top: 18px;
}
.book__btn-group__button {
  padding-bottom: 0.5em;
}
.book__btn-group__description {
  padding-bottom: 1em;
}
.book__btn-group__price {
  font-weight: 700;
  font-size: 18px;
}
.book__btn-group__date {
  font-weight: 400;
  font-size: 13px;
}
.book__btn-group__date a:hover {
  color: #ffffff;
  opacity: 0.7;
}
.book__summary {
  width: 100%;
  padding: 15vh 0;
}
.book__summary__list {
  padding-left: 20px;
}
.book__summary__item {
  font-weight: 700;
  margin: 18px 0;
}
.book__praises__love {
  padding-top: 0.5em;
}
.book__praises__tweet {
  width: 100%;
  margin: 1em 0;
}
.book__praises__tweet__account {
  font-size: 14px;
  color: #919191;
  padding-left: 9px;
}
.book__praises__tweet__hr {
  border-top: 1px solid #339f61;
  margin: 18px -18px;
}
.book__praises__tweet__facette:hover {
  filter: brightness(97%);
}
.view__more__links {
  padding-top: 5em;
}
.footer__social__icons {
  margin-top: 108px;
  margin-bottom: 72px;
}
.footer__social__medium,
.footer__social__twitter {
  display: inline-block;
  border: 1px solid #339f61;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  margin: 0 3px;
}
.fab {
  color: #339f61;
  font-size: 14px;
  vertical-align: bottom;
  position: relative;
}
